@{
    ViewBag.Title = "AddDepartment";
}

<div>
    <div style="background-color: burlywood;line-height: 220%;margin-left: 10%;margin-right: 10%">
        <label style="font-size:16pt;padding-left:10px" >Product Timer Definition</label>
    </div>
    <div style="margin-left: 10%;margin-right: 10%;margin-top:10px">
        <table>
            <tr>
                <td style="width:18%">
                    <label >Department Name*:</label>
                </td>
                <td>
                    <input type="text" id="txtDepartName" />
                </td>
            </tr>
            <tr>
                <td style="width:18%">
                    <label >Default Ticket Type*:</label>
                </td>
                <td>
                  @Html.DropDownList("DefaultTicketTypeID", new SelectList(ViewBag.ListDefaultTicketType, "DefaulTticketTypeID", "DefaultTicketType"))
                </td>
            </tr>
            <tr>
                <td style="width:18%">
                    <label >Menu:</label>
                </td>
                <td>
                  @Html.DropDownList("MenuID", new SelectList(ViewBag.ListMenu, "MenuID", "Menu"))
                </td>
            </tr>
            <tr>
                <td style="width:18%">
                    <label >Warehouse:</label>
                </td>
                <td>
                  @Html.DropDownList("WarehouseID", new SelectList(ViewBag.ListWarehouse, "WarehouseID", "Warehouse"))
                </td>
            </tr>
            <tr>
                <td style="width:18%">
                    <label >Price Tag:</label>
                </td>
                <td>
                  @Html.DropDownList("PriceTagID", new SelectList(ViewBag.ListPriceTag, "PriceTagID", "PriceTag"))
                </td>
            </tr>
            <tr>
                <td style="width:18%">
                    <label >Ticket Creation Method:</label>
                </td>
                <td>
                  @Html.DropDownList("TicketCreationMethodID", new SelectList(ViewBag.ListTicketCreationMethod, "TicketCreationMethodID", "TicketCreationMethod"))
                </td>
            </tr>
            </table>
    </div>
        <div style="height:70px;margin-left: 10%;margin-right: 10%;margin-top:10px">
        <table class="tableForManage">
            <tr class="tableTr">
                <td style="float:right">
                    <input class="buttonCustom" type="button" value="Save"  />
                </td>
                <td style="float:right">
                    <input class="buttonCustom" type="button" value="Back" onclick="location.href='@Url.Action("DepartmentList", "Settings")    '" />
                </td>
            </tr>
        </table>
    </div>
</div>

